

NODE_ENV = development
PORT = 5000

DB_HOST =localhost
DB_USER =root
DB_PASSWORD= password_of_mysql
DB_NAME= workverse


#get google api credentials from google cloud platform > api > credentials


#   1. Go to https://console.cloud.google.com/
#   2. Create a new project by any name
#   3. go to OAuth consent screen and add required information like (App Name & Email)
#   4. now go to credential tab and click create credential and then click on OAuth client ID.
#   5. Select application type as web application.
#   6. after that let name field remains as it is or you can change it... depends on you but the main thing is you should add Authorized JavaScript origins as address of your frontend otherwise it will give you an error.
#   7. Authorized redirect URIs should be URIs1 should be address of frontend in our case its localhost:3000 and URIs2 should be address of server with the route on which google should redirect in our case its http:localhost:5000/auth/google/callback
#   8.  click on save and it will ask few mor things you can skip those and at the end you will get CLIENT ID & CLIENT SECRET and thats what we have added on line no 24 and 25.

GOOGLE_CLIENT_ID =google_client_id 
GOOGLE_CLIENT_SECRET= sgoogle_secret_key
CLIENT_URL = http://localhost:3000/

JWT_KEY =aything